@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background-color: #7209b7;
  color: white;
}

h3, h4 {
  color: #7209b7;
}

.title {
  font-family: 'Fredoka One', cursive;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center ;
}